<div id="<%= dom_id trade %>">
  <p>
    <strong>Product:</strong>
    <%= trade.product %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= trade.description %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= @category_name %>
  </p>

  <p>
    <strong>Expiration:</strong>
    <%= trade.expiration %>
  </p>

  <p>
    <strong>Neighborhood:</strong>
    <%= trade.neighborhood %>
  </p>

  <p>
    <strong>User:</strong>
    <%= trade.user_id %>
  </p>

  <p>
    <strong>Interested in:</strong>
    <%= trade.interested_in %>
  </p>

  <p>
    <strong>Accept:</strong>
    <%= trade.accept %>
  </p>

  <p>
    <strong>Image file name:</strong>
    <%= trade.image_file_name %>
  </p>

  <p>
    <strong>Image content type:</strong>
    <%= trade.image_content_type %>
  </p>

  <p>
    <strong>Image updated at:</strong>
    <%= trade.image_updated_at %>
  </p>

</div>
